* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/* box2 */

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    /* padding-right: 10px; */
    margin-left: 20px;
}

.add-second {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 2px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 3px solid #ff9100;
}

.search-select {
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    text-align: center;
    border: none;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    color: black;
    background-color: #ffc800;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/* box4 */

span {
    font-size: 0.72rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: bold;
}

/* box6 */

.cart-icon {
    font-size: 1.9rem;
    display: flex;
}

.cart {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 5px;
    margin-top: 15px;
}

/* navbar-2  */

.pannel {
    height: 40px;
    background-color: #2b3838;
    color: white;
    display: flex;
    align-items: center;
}

.pannel i {
    font-size: 1.2rem;
}

.pannel p {
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-top: 2px;
}

.options {
    display: flex;
}

.options p {
    margin-left: 25px;
    font-weight: 700;
    font-size: 0.9rem;
}

.pannel-icon {
    display: flex;
}

/* main contant  */

.hero-slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides {
  display: flex;
  animation: scroll 20s linear infinite;
}

.slides img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
}


.hero-slider img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left 1s ease-in-out;
}

.hero-slider img.active {
    left: 0;
}

.hero-slider img.prev {
    left: -100%;
}

.hero-message {
    position: absolute;
    bottom: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.hero-message {
    color: black;
    background-color: white;
    height: 40px;
    width: 95%;
    margin-left: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 40px;

}

.hero-message a {
    color: #2162a1;
    font-size: 14px;
    text-decoration: none;
}

.hero-image a:hover {
    text-decoration: underline;
}


/* shop section  */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 380px;
    /* border: 2px solid black; */
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box:hover {
    border: 2px solid blue;
    height: 376px;

}


.box-img {
    height: 280px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.insta {
    color: black;
    font-size: 0.8rem;
    text-decoration: none;
}

.insta:hover {
    text-decoration: underline;
    color: blue;
}

.box-contant {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-contant p {
    color: #2162a1;
}

/* footer  */

footer {
    margin-top: 1rem;
}

.foot-pannel1 {
    display: flex;
    height: 50px;
    background-color: #2b3838;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: bold;
}

.back-home {
    color: white;
    text-decoration: none;
}

.back-home:hover {
    text-decoration: underline;
    font-size: 0.9rem;
}

.foot-pannel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 25px;
    font-weight: bold;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    font-weight: lighter;
}

.foot-pannel3 {
    background-color: #222f3d;
    border-top: 0.1px solid white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #dddddd;
    font-size: 0.8rem;
}

.foot-logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px
}

.copyright {
    margin-left: 150px;
}

.foot-contant i {
    color: white;
    font-weight: lighter;
    font-size: 1rem;
    margin-left: 10px;
}

.underline:hover {
    text-decoration: underline;
    font-size: 0.87rem;
}

ul a {
    text-decoration: none;
}
